@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;

}
body{
    background-color: whitesmoke;

  overflow-x: hidden;


}

nav {
    color: white;
    height: 50px;
    width: 100%;
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    top: 0;
}

.logo {
    margin-left: 18px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.profile img {
    width: 45px;
    border-radius: 50%;
    margin-right: 15px; 
    /* align-self: flex-end; */
}

/*profile click*/

.profile-menu {
    position: absolute;
    top: 55px;
    right: 0;
    width: 200px;
    height: 100px;
    background: white;
    color: black;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    display: none;
    z-index: 1000;
}

.profile-menu.show {
    display: block;
}



.container {
    background-color: white;
    padding: 20px;
    margin: 30px;
    border: 2px solid rgb(234, 237, 236);
    border-radius: 20px;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    /* 2 columns */
    gap: 20px;
    height: auto;
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.heading{
    font-family: poppins;
    font-weight: 420;
    text-align: center;

}

.card-btn {
    color: white;
    font-size: 20px;
    width: 300px;
    height: 150px;
    /* padding: 40px 30px; */
    margin: 20px;
    border: 2px solid whitesmoke;
    border-radius: 20px;

}

.red{
    background-color: rgb(238, 80, 49);
}

.blue{
    background-color: rgb(5, 163, 254);
}

.green{
    background-color: rgb(59, 226, 59);

}

.yellow{
    background-color: rgb(242, 242, 85);
}

.chart-section {
    justify-self: center;
    width: 400px;
  margin-top: 20px;
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  font-family: poppins;
}

.chart-section h3 {

  text-align: center;
  margin-bottom: 20px;
}