/* here we will write styling for the entire web page, common styling will be there */
.main{
    background-color: rgb(253, 254, 254);
    width: 100vw;
    height: 100vh;
}

.indexcard{
    background-color: rgb(240, 221, 246);
    width: 60vw;
    height: 50vh;
    margin: auto;
    border: 2px solid rgb(234, 237, 236);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.head1{
    
    justify-self: center;
}

.head2{
    justify-self: center;
   
}

.btn{
    padding: 10px 25px 10px 25px;
    margin: 4px;
    background-color: rgb(61, 174, 230);
    border: 2px solid rgb(234, 237, 236);
    border-radius: 6px;
}

.button{
    padding: 10px;
    margin: 10px;

    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}