* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f0f2f5;
}

.header {
    background: blue;
    padding: 15px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 28px;
    font-weight: bold;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile-menu {
    position: absolute;
    top: 60px;
    right: 0;
    background: white;
    color: black;
    width: 200px;
    padding: 15px;
    display: none;
    border-radius: 10px;
    z-index: 2000;
}

#back{
    background-color: red;
    color: white;
    height:40px;
    width: 100px;
    padding : 4px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.profile-menu.show {
    display: block;
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    background: white;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
}

.container h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.cards {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    height: 200px;
    width: 100%;
    max-width: 300px;
    border-radius: 25px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
     display: flex;
      align-items: center;
      justify-content: center;
}

.card:hover {
    transform: scale(1.05);
}


#dash-raise-complaint {
    background: #0099ff;
      color: #333;
}

#dash-view-complaint {
    background: #f7f76a;
    color: #333;
}

#notification {
    background: #28e34c;
    margin: 40px auto 0;
    /* margin-left:  230PX; */
    width: 100%;
    max-width: 700px;
      color: #333;
      border-radius: 20px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
}

@media (max-width: 600px) {
    .header h1 {
        font-size: 18px;
    }
}
