* {
    margin: 0;
    padding: 0;
}

body {
    background: #f0f2f5;
}

.header {
    background: blue;
    padding: 15px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 28px;
    font-weight: bold;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.container {
    width: 90%;
    margin: 40px ;
    background: white;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
}

.container h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.cards {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 250px;
    padding: 40px 0;
    border-radius: 25px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.08);
}


.blue {
    background: #0099ff;
      color: #333;
}

.yellow {
    background: #f7f76a;
    color: #333;
}

.green {
    background: #28e34c;
    margin-top: 100px;
    margin-left:  70PX;
    width: 90%;
      color: #333;
}
