body {
    margin: 0;
    background: #f2f2f2;
}

.header {
    background: #4a69ff;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.info {
    display: flex;
    align-items: center;
    gap: 10px;
}

#image {
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
}

#name {
    margin: 0;
    font-size: 16px;
}

.main-box {
    padding: 50px;
    height: 400px;
    border: 3px solid black;
    background-color: whitesmoke;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 150px;
}

.content-box {
    background: white;
    padding: 20px;
    border-radius: 12px;
    border: 2px solid blanchedalmond;
    cursor: pointer;
    transition: transform 0.2s ease;
     width: 250px;
    height: 100px;
}

.content-box div {
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
}

.content-box:hover {
    transform: scale(1.25);
}

#notification {
    background: white;
    margin-top: 80px;
    /* padding: 20px; */
    border-radius: 12px;
    transition: transform 0.2s ease;
    border: 2px solid blanchedalmond;
}

#notification div {
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
}

#notification:hover {
    transform: scale(1.25);
}